*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(255, 240, 251);
}
h1{
    color: rgb(255, 11, 145);
}

.navbar{
    background-color: rgb(255, 172, 222);
    overflow: hidden;
    list-style-type: none;
}
.navbar a{
    color: rgb(255, 0, 170);
    margin:10px;
    padding:10px;
    text-decoration:none;
}
.navbar li{
    float: left;
}
.section{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    overflow: hidden;
    position: relative;
    width: 300px;
  }
.card:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: pink;
    clip-path: circle(50px at 100% 0%);
    transition: 0.7s ease-in-out;
}
.card:hover:before{
    clip-path: circle(450px at 100% 0%)
}
img {
    border-radius: 5px 5px 0 0;
}
    .column{
        margin-top: 10px;
        float: left;
        width: 30%;
        padding: 0 8px;
        margin-bottom: 10px;
    }

.row::after {
  content: "";
  clear: both;
  display: table;
}
.description {
    z-index: 10;
    position: relative;
}


